<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div id="map"></div>
		</div>
		<div class="col-md-9 card-camp">
			<div class="card mb-3">
				<img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
				<div class="card-body">
					<h5 class="float-right">$<%= campground.price %>/night</h5>
					<h4 class="card-title"><%= campground.name %></h4>
					<p>
						<em>Submitted by<%= campground.author.username %></em>
					</p>
					<hr>
					<p class="card-text"><%= campground.description %></p>
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
						<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
					<% } %>
				</div>
			</div>	
			<div class="card">
				<div class="card-body">
					<div class="text-right">
						<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
					</div>
					<hr>
					<div class="row">
						<% campground.comments.forEach(function(comment){ %>
							<div class="col-md-12">
								<strong><%= comment.author.username %></strong>
								<span class="float-right">10 days ago</span>
								<div>
									<%= comment.text %>	
									<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
										<div class="float-right">
											<a class="btn btn-outline-warning btn-sm" 
											   href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
												Edit
											</a>
											<form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
												<input type="submit" class="float-right btn btn-sm btn-outline-danger" value="Delete">
											</form>										
										</div>
									<% } %>
									<hr>
								</div>
							</div>
						<% }); %>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>
